
.accordion__heading {
  .margin(vertical);
  
  > a {
    cursor: pointer !important;
  }
}

.accordion__body {
  .border-radius(5px);
  .padding(all);

  background: #fff;
  border: 1px solid @colour-neutral-lighter;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
