.box--gk-banners-slideshow {
  padding: 0;
}

.banner-slideshow {
  height: 420px;
}

.cycle-slide-active {
  z-index: 200 !important;
}

.banner-slideshow__slide {
  background-position: 50% 0;
  background-repeat: no-repeat;
  display: block !important;
  height: 420px;
  position: absolute;
  top: 0;
  width: 100%;

  > a {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.banner-slideshow__controls {
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 984px;
  position: absolute;
  right: 0;
  z-index: 500;
}

.banner-slideshow__prev,
.banner-slideshow__next {
  .font-size(80);
  .transition(opacity .2s);

  bottom: 160px;
  color: #fff;
  cursor: pointer;
  margin-top: -40px;
  opacity: 0.5;
  position: absolute;

  &:hover {
    opacity: 1;
  }
}

.banner-slideshow__prev {
  left: 0;
}

.banner-slideshow__next {
  right: 0;
}

.banner-slideshow__pager {
  .font-size(10);

  bottom: 5px;
  color: #fff;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;

  > span {
    cursor: pointer;
    margin: 0 3px;


    opacity: .5;

    &:hover,
    &.cycle-pager-active {
      opacity: 1;
    }
  }
}

.banner-slideshow__caption {
  color: #fff;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 984px;
  position: absolute;
  right: 0;
  text-shadow: 1px 1px 10px rgba(0,0,0,.5);
  text-transform: uppercase;
  z-index: 100;
}


.banner-slideshow__caption--tl,
.banner-slideshow__caption--tm,
.banner-slideshow__caption--tr {
  top: 1em;
}

.banner-slideshow__caption--bl,
.banner-slideshow__caption--bm,
.banner-slideshow__caption--br {
  bottom: 2em;
}

.banner-slideshow__caption--tm,
.banner-slideshow__caption--mm,
.banner-slideshow__caption--bm {
  text-align: center;
}

.banner-slideshow__caption--tr,
.banner-slideshow__caption--mr,
.banner-slideshow__caption--br {
  text-align: right;
}

.banner-slideshow__title {
  .font-size(44);

  color: #fff;
}

.banner-slideshow__description {
  .font-size(18);
}
