// Apply gift card image styles
.views-field-field-giftcard-display-image {
  max-width: 220px;

  > a {
    display: block;
    .margin(bottom, .5);
  }

  .product__image {
    .image-styles();

    //width: 150px;
    //margin: 0 auto;
  }
}

th.views-field-field-giftcard-display-image {
  max-width: none;
}

td.views-field-field-giftcard-display-image {
  width: 220px;
}


// Style table elements specific to shopping basket.
.view-commerce-cart-form {
  table {
    margin-bottom: 0;

    > thead {
      > tr > th {
        .padding(vertical);
        border: none;
        .border(bottom, 1, @colour-neutral-lighter);
      }
    }

    > tbody {
      > tr {
        &:first-child > td {
          .padding(top, 1.1);
        }

        &:last-child > td:after,
        &:last-child > th:after {
          display: none;
        }

        > td,
        > th {
          border: none;
          .border(bottom, 1, @colour-neutral-lighter);

          .padding(horizontal, 1.3);
          .padding(vertical, 1.6);

          vertical-align: middle;

          &:after {
            content: " ";
            position: absolute;
            display: block;

            height: 20px;

            bottom: -10px;
            left: 0;
            right: 0;

            background: #fff;
            border-top: 1px solid @colour-neutral-lighter;
            border-bottom: 1px solid @colour-neutral-lighter;
          }
        }
      }
    }

    .delete-line-item {
      width: 23px;
      height: 21px;

      display: inline-block;

      border: none;
      background: @colour-neutral url(../images/sprite.png) -120px -360px;
      text-indent: -9999px;
      overflow: hidden;
    }
  }
}

// Style table elements specific to shopping basket.
#main .view-commerce-cart-form {
  table.stacked {
    > tbody {
      &:last-child > tr:last-child {
        margin-bottom: 0;
      }
      > tr {
        > td {
          padding-left: 200px;
          .padding(vertical, .5);

          &:before {
            width: 180px;
          }
        }

        > .views-field-field-giftcard-display-image {
          max-width: none;
          width: 100%;

          .product__image {
            max-width: 200px;
            float: none;
          }
        }
      }
    }
  }
}

.line-item-summary {
  padding-top: 20px;
  background: white;
  border-left: 1px solid @colour-neutral-lighter;
  border-right: 1px solid @colour-neutral-lighter;

  margin-bottom: 0;

  .line-item-total {
    border-top: 1px solid @colour-neutral-lighter;
    background: url(../images/body_bg.png);

    .padding(vertical, .5);
    .padding(horizontal, 2);
  }
}

.commerce-line-item-actions {
  background: #fff;
  border: 1px solid @colour-neutral-lighter;
  .padding(vertical);
  .padding(horizontal, 2);

  > input {
    display: inline;
    .margin(left);
  }
}
