.box--gc-product-gc-product-products,
.box--gc-core-gc-core-for-more-information {
  .margin(top, -1);

  .box__title {
    text-align: center;

    .padding(vertical, .65);

    position: relative;
    z-index: 1;

    &:before {
      z-index: -1;

      content: "";
      display: block;

      position: absolute;
      left: -50%;
      right: -50%;
      top: 0;

      width: auto;
      height: 100%;

      background: #fff;
      border-top: 1px solid @colour-neutral-lighter;
      border-bottom: 1px solid @colour-neutral-lighter;
    }

    &:after {
      content: " ";
      display: block;
      width: 41px;
      height: 23px;
      position: absolute;
      left: 50%;
      margin-left: -17px;
      bottom: -24px;
      background: url(/sites/all/themes/giftcards/images/sprite.png) -19px -580px no-repeat;
    }
  }
}

.box--gc-core-gc-core-for-more-information {
  .box__content {
    .padding(top, 1.5);

    .grid__cell {
      text-align: center;

      > a {
        display: block;

        > h3 {
          .transition(all .3s);

          color: @colour-neutral-lightest;
          font-weight: 400;
          .font-size(15);
          .padding(bottom, 1);
        }

        > span {
          &:after {
            .transition(all .2s);
          }

          background: url(../images/sprite.png);

          .inline-block();

          width: 150px;
          height: 150px;

          position: relative;

          &:after {
            content: " ";
            position: absolute;

            border: 5px solid @colour-neutral-lighter;
            .border-radius(100%);

            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
          }
        }

        &:hover {
          > span:after {
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
          }
        }
      }
    }

    .check-my-balance > a > span {
      background-position: 18px 14px;
    }

    .frequently-asked-questions > a > span {
      background-position: -98px -106px;
    }

    .terms-and-conditions > a > span {
      background-position: -233px -238px;
    }
  }
}

.box--gc-product-gc-product-banner {
  .box__content {
    > h2 {
      .font-size(24);
    }

    > .field-name-field-giftcard-display-image {
      .field-item {
        width: auto;

        > img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

.box--gc-product-gc-product-tandcs-summary {
  .box__title {
    color: @colour-neutral-lightest;
    .font-size(14);
    font-weight: 600;
  }

  .box__content {
    > ol {
      .padding(left);
      .font-size(14);
    }
  }

  a {
    text-decoration: underline;
    color: #fff;

    &:hover {
      color: @colour-neutral-light;
    }
  }
}

.box--gk-core-copyright {
  .font-size(11);
}

.box--gk-contact-gk-contact-form .box__inner {
  .padding(horizontal, 3);
  .padding(vertical);

  background: #fff;
  .border(all);
  .border-radius(3px);
}

.box--gc-core-gc-core-check-my-balance {
  text-align: center;

  img {
    height: auto !important;
    max-width: 100%;
  }
}

.box--gc-product-gc-product-buy-now-cta {
  .padding(all, 2);

  text-align: center;

  .field-name-field-giftcard-display-image {
    .margin(bottom);

    .field-item {
      display: inline;
      float: none;

      img {
        height: auto !important;
        max-width: 100%;
        width: 400px;
      }
    }
  }
}
