#edit-commerce-payment {
  display: none;
}

ol.inline.commerce-checkout-progress {
  padding: 0;

  > li {
    background: @colour-tertiary-light;

    list-style: inside decimal;

    .padding(vertical, .38);

    color: @colour-neutral-lightest;
    > a {
      color: @colour-neutral-lightest;

      &:hover {
        text-decoration: underline;
      }
    }

    font-weight: 400;
    text-transform: uppercase;
    .font-size(12);

    &.active,
    &.previous,
    &.visited {
      background: @colour-tertiary;
      color: #fff;
    }
  }
}

.gc-checkout-summary {
  min-height: 200px; // Ensures column has at least some height so it sits right and other columns do not overlap.

  .border(all, 1, #aaa, 3px);
  overflow: hidden;

  position: relative;
  .padding(top, 3);

  > legend {
    text-align: center;

    background: #fff;
    //border: 1px solid @colour-neutral-light;
    .border(all, 1, @colour-neutral-light, 5px 5px 0 0);

    margin: 0;
    .padding(vertical, .5);
    .margin(bottom);

    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
  }

  .line_items {
    .line_item {
      .padding(horizontal);
      .margin(bottom);

      .padding(bottom);
      position: relative;
      &:after {
        content: " ";
        .height();
        display: block;
        background: #fff;

        .border(vertical, 1, @colour-neutral-light);

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;

        &:after {
          display: none;
        }
      }

      .line_item__image {
        .clearfix();
        text-align: center;

        > span {
          .image-styles();
          .inline-block();
          max-width: 45%;
          float: none;

          .margin(bottom, .65);
        }
      }
    }
  }

  .line_items .line_item .fields {
    .clearfix();
    .margin(bottom);
  }

  .order-total,
  .line_items .line_item .fields .fields__field,
  .shipping-address {
    .clearfix();

    .font-size(14);
    font-weight: 500;

    .margin(bottom, .15);

    .field__label,
    .field-label {
        float: left;

        color: @colour-secondary;
      }

    .field__value,
    .field-type-addressfield {
      float: right;
      text-align: right;
    }
  }

  .order-total,
  .shipping-address {
    .padding(horizontal);
    .padding(vertical, .5);
    background: #fff;
    .border(top);
    margin-bottom: 0;
  }
}

// Margin on the bottom of the last name fields.
#edit-customer-profile-billing-field-billing-last-name,
#edit-customer-profile-shipping-field-shipping-last-name {
  .margin(bottom, 2);
}

// Shipping notice
#edit-commerce-shipping-notice {
  .margin(top, 2);
  .margin(right, 4);
  font-style: italic;
}

// Checkout completion message
.checkout-completion-message {
  width: 50%;
  margin: 0 auto;
}

.gk-commerce-checkout-complete-banner {
  .padding(vertical, 2);
  margin-bottom: 25px;
  color: @colour-primary;
  text-align: center;
  background-color: #fff;
  border: 1px solid @colour-neutral-lightest;
  .box-shadow(2px 2px 5px @colour-neutral-light);
}

.gk-commerce-checkout-complete-banner-inner {
  display: inline-block;
  .padding(vertical, 1/4);
  border: 2px @colour-secondary;
  border-style: solid none;
}

.gk-commerce-checkout-complete-banner-first-line {
  .font-size(32);
  text-transform: uppercase;
}

.gk-commerce-checkout-complete-banner-second-line {
  .font-size(16);
  text-transform: uppercase;
}

// Misc
.addressfield-container-inline .form-item:last-child {
  margin-bottom: 0;
}

.checkout-buttons {
  .padding(horizontal);
  .padding(bottom);
  background: #fff;

  .border(all);

  .button-operator {
    display: none;
  }

  .checkout-cancel,
  .checkout-back {
    background: @colour-neutral-lightest;
    color: @colour-neutral;
    text-shadow: none;

    &:hover {
      background: @colour-neutral-lightest;
      color: @colour-neutral;
    }
  }

  > input {
    float: right;
    .margin(left);
    .margin(top);
  }
}

.field-type-list-boolean.copyinfo .form-item {
  margin-bottom: 0;
  .margin(top, .75);

  .form-item--field > label {
    margin-left: 8px;
  }
}
