.cookies {
  .box-shadow(0px 1px 3px 0px rgba(0, 0, 0, .5));
  background: @colour-primary;
  color: #fff;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  z-index: 1;

  > .container__inner {
    .padding(vertical, 1/2);
  }
}

.cookies__title {
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}

.cookies__message {
  .inline-block();

  > :first-child,
  > :last-child {
    margin: 0;
  }
}

.cookies__options {
  .inline-block();

  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    .inline-block();
    .margin(left);

    > a {
      &:link,
      &:visited {
        color: #fff;
      }

      &:hover {
        color: @colour-secondary;
      }
    }
  }
}

.cookies__more > a {
  text-decoration: underline;
}