.field-name-field-giftcard-display-product {
  .select-or-other-select {
    .clearfix();
  }

  .form-radios > .form-item {
    display: table;
    border-spacing: 0;
    margin: 0;

    .margin(bottom, .5);

    > .form-item__field {
      display: table-row;

      > .form-radio {
        display: block;
        position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        overflow: hidden;
        height: 1px;

        &:checked + label {
          background: @colour-primary;
          border-color: @colour-primary;
        }

        &#edit-line-item-fields-giftcard-value-und-select-select-or-other + label {
          .font-size(15);
          .padding(horizontal);

          &:before {
            content: "";
          }

          &.is-populated {
            .font-size(34);
            line-height: 0.7;

            &:before {
              content: "£";
              .font-size(22);
              line-height: 1;
            }
          }
        }
      }

      > label {
        // Turn off pesky transitions.. edge case included for opera.
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;

        &:before {
          content: "£";
          .font-size(22);
          line-height: 1;
        }

        background: @colour-tertiary;

        display: table-cell;
        padding: 0;
        text-align: center;
        vertical-align: middle;

        .font-size(34);
        line-height: 0.7;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);

        height: 55px;
        width: 100%;

        border-width: 2px;
      }
    }
  }

  .select-or-other {
    position: relative;

    > .form-item {
      margin-bottom: 0;

      + .form-item {
        position: absolute;
        bottom: 21px;
        right: 3%;
        width: 14%;

        input {
          text-align: center;
          height: 36px;

          &[type=number] {
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

.box--gk-contact-gk-contact-form .box__content {
  .margin(left, -1);

  .form-wrapper {
    .clearfix();
  }

  h2 {
    text-align: center;
    color: @colour-neutral-dark;
    text-transform: none;
    margin-top: 0;
    .margin(bottom, 1.5);
  }

  .form-item,
  h2,
  .alternative_contact,
  .required_info {
    .padding(left);
  }

  .form-submit {
    float: right;
    .margin(bottom);
  }

  .alternative_contact {
    clear: both;

    padding-left: 0;
    .margin(left);

    .padding(top);
    .margin(top);
    .border(top);

    text-align: center;

    > span {
      white-space: nowrap;
    }
  }
}

.form-item__field {
  position: relative;

  > span.is-required {
    position: absolute;
    top: -7px;
    right: -10px;
  }
}

.customer_profile_billing {
  .required_info {
    .margin(top);
  }
}

.checkout-processing {
  display: none;
}
