/**
 * User/Header nav
 */
.box--menu-block-gk-core-user-menu {
  .nav {
    .padding(horizontal, .45);
    .padding(vertical, .25);

    .nav__item {
      float: left;

      > a {
        color: @colour-neutral;
        .font-size(14);

        &:hover {
          text-decoration: underline;
        }

        &:before {
          content: "";
          border-left: 1px solid @colour-neutral-lighter;
          font-size: 8px;
          .padding(left, .5);
          .margin(left, .5);
        }
      }

      &:first-child > a:before {
        border: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}

#navigation {
  .container__inner {
    > .grid {
      .padding(vertical, .3);
    }
  }

  .box--menu-block-gk-core-main-menu {
    .nav {
      text-align: center;
      margin: 0;

      .nav__item {
        .inline-block();

        &.is-active > a {
          color: @colour-secondary;
        }

        > a {
          .font-size(12);
          font-family: @headings-font-family;
          font-weight: 600;
          letter-spacing: .1em;
          color: @colour-neutral;
          text-transform: uppercase;

          &:hover {
            color: @colour-secondary;
          }

          &:before {
            content: "";
            border-left: 1px solid @colour-neutral-lighter;
            .font-size(10);
            .padding(left, 1);
            .margin(left, 1);
          }
        }

        &:first-child > a:before {
          border: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.box--menu-block-gk-core-footer-menu {
  .nav {
    margin-bottom: 0;

    .nav__item {
      float: left;
      .font-size(13);

      > a {
        color: @colour-neutral;
        .font-size(11);

        &:before {
          content: "";
          border-left: 1px solid @colour-neutral-dark;
          font-size: 8px;
          .padding(left, .3);
          .margin(left, .3);
        }

        &:hover {
          color: #fff;

          &:before  {
            border-color: @colour-neutral-dark;
          }
        }
      }

      &:first-child > a:before {
        border: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
