.box--gc-product-gc-product-products {
  .box__content {
    .padding(top, 1.5);

    .products {
      .products__product {
        .node {
          .padding(horizontal);
        }

        h3 {
          .font-size(13);
          text-align: center;

          white-space: nowrap; // TODO: Temporary until solution found...

          margin: 0;

          &:hover {
            text-decoration: underline;
          }
        }

        .node__content {
          margin: 0;

          .field-item {
            .margin(vertical);

            > a > img {
              width: 100%;
              height: auto;
            }
          }
        }

        .list--inline {
          margin: 0;

          > .node-readmore {
            display: block;
            text-align: center;

            > a {
              .inline-block();
            }
          }
        }
      }
    }
  }
}

.is-gc_product-add-to-cart-confirmation {
  border: 0;
  padding: 0;

  .messages__content {
    margin-left: 0;
    .clearfix;
  }
}

.field-name-field-giftcard-display-image {
  .clearfix;
  .field-items { .clearfix; }

  .field-item {
    .image-styles();
  }
}

#edit-line-item-fields-quantity {
  width: auto;
}

// Styling override for jQuery UI Dialog
.ui-dialog {
  .gc_product-add-to-cart-confirmation {
    .padding(vertical);

    background: url(../images/body_bg.png);
    border-top: 1px solid @colour-neutral-lighter;
    border-bottom: 1px solid @colour-neutral-lighter;

    h2 {
      display: none;
    }

    .field__label {
      vertical-align: top;
      width: 35%!important;
    }

    .field__value {
      vertical-align: top;
      width: 65%!important;
    }

    .field-name-field-giftcard-display-image {
      padding-right: 0;
    }
  }
}
