#header-top,
#header-top > .container__inner .grid {
  padding: 0;
}

#header-top,
#header,
#navigation {
  background-color: #fff;
}

#header {
  .container__inner {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 1px;

      background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.25)), color-stop(95%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,gift0,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 95%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 95%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 95%,rgba(0,0,0,0) 100%); /* IE10+ */
      background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 95%,rgba(0,0,0,0) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    }
  }
}

#navigation {
  border-bottom: 1px solid @colour-neutral-lighter;

  .container__inner {
    z-index: 2;

    > .grid {
      z-index: 1;
      background: #fff;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 92%;
      height: 40px;
      bottom: 0;
      left: 4%;
      border-radius: 35%;
      .box-shadow(0px 3px 3px rgba(0,0,0,.15));
      z-index: -1;
    }
  }
}

#top {
  background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top,  #cccccc 0%, #f9f9f9 25%, #f9f9f9 75%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(25%,#f9f9f9), color-stop(75%,#f9f9f9), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cccccc 0%,#f9f9f9 25%,#f9f9f9 75%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cccccc 0%,#f9f9f9 25%,#f9f9f9 75%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cccccc 0%,#f9f9f9 25%,#f9f9f9 75%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cccccc 0%,#f9f9f9 25%,#f9f9f9 75%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.front #top {
  position: relative;
  z-index: 1;

  > .container__inner {
    margin: 0;
    max-width: none;

    > .grid {
      padding: 0;
      margin: 0;
    }
  }
}

#main {
  background: url(../images/body_bg.png);
}

#bottom {
  background: url(../images/bottom_bg.png);
  color: @colour-neutral-lightest;
}
