.box--menu-block-gk-core-user-menu {
  background: #fff;
}

#header-top,
#header {
  background: @colour-primary;
}

#header {
  .grid {
    padding: 0;
  }

  .branding {
    .branding__logo {
      > img {
        vertical-align: bottom;
      }
    }
  }

}

#bottom {
  background: url(../images/bottom_bg.jpg);
}
