/**
 * User/Header nav
 */
.box--menu-block-gk-core-user-menu {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;

    margin-bottom: 0;

    background: @colour-neutral-lightest;
    .border(bottom, 1, @colour-neutral-lighter);
    .border(horizontal, 1, @colour-neutral-lighter);
    .border-radius(0 0 7px 7px);
  }
}

.box--gc-product-gc-product-banner {
  .box__content {
    > h2 {
      .inline-block();
      vertical-align: middle;

      font-size: 32px;
      max-width: 440px;
      .padding(left, 2);
    }

    > .field-name-field-giftcard-display-image {
      .inline-block;
      vertical-align: middle;
    }
  }
}

.commerce-add-to-cart {
  .form-radios {
    > .form-item {
      width: 20%;
      float: left;

      .padding(right);

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.gc_product-add-to-cart-confirmation {
  > .field-name-field-giftcard-display-image {
    .inline-block;
    vertical-align: middle;
    width: 25%;
    .padding(right, 1.5);

    .field-items {
      .clearfix;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  > .fields {
    .inline-block;
    width: 74%;
    vertical-align: middle;

    > .fields__field {
      &:first-child {
        .field__label,
        .field__value {
          padding-top: 0;
        }
      }

      &:last-child {
        .field__label,
        .field__value {
          padding-bottom: 0;
        }
      }

      > .field__label {
        width: 20%;
        float: left;
        clear: left;
        text-align: right;
        white-space: nowrap;

        .padding(right, 1.3);

        .padding(vertical, .45);

        color: @colour-secondary;
        font-weight: 500;
      }

      > .field__value {
        float: left;
        width: 80%;
        .padding(vertical, .45);
        border-left: 1px solid @colour-neutral-light;
        .padding(left);
      }
    }
  }
}

// Temporary as we just cannot find where to add the damn classes in...
.box--gk-core-copyright,
.box--menu-block-gk-core-footer-menu {
  width: 50%; *width: 48% - (0.5 / 600 * 100%);
  margin-bottom: 0;
}

.box--menu-block-gk-core-footer-menu {
  .menu-block-gk-core-footer-menu {
    float: right;
  }
}

.box--gk-contact-gk-contact-form .box__content {
  .form-item--edit-salutation {
    float: left;
    width: 20%;
  }

  .form-item--edit-first-name,
  .form-item--edit-last-name {
    float: left;
    width: 40%;
    min-width: 250px;
  }

  .form-item--edit-email {
    clear: both;
    max-width: 350px;
    .margin(bottom, 1.5);
  }
}

ol.inline.commerce-checkout-progress {
  margin-right: 25px;
  height: 35px;

  > li {
    width: 25%;
    height: 35px;

    position: relative;
    padding-left: 65px;

    &:after {
      content: " ";
      display: block;
      width: 25px;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;

      background: url(../images/sprite.png) no-repeat -135px -502px;
    }

    &:first-child {
      padding-left: 40px;

      &:after {
        display: none;
      }
    }

    &:last-child:before {
      content: " ";
      display: block;
      width: 25px;

      position: absolute;
      top: 0;
      bottom: 0;
      right: -25px;
      overflow: hidden;

      background: url(../images/sprite.png) no-repeat -295px -502px;
    }

    &.last.active:before {
      background-position: -215px -501px;
    }

    &.next:after,
    &.active:after,
    &.previous:after,
    &.previous:after,
    &.visited:after {
      background-position: -55px -502px;
    }
  }
}
