.commerce-add-to-cart {
  .form-radios {
    > .form-item {
      width: 50%;
      float: left;

      .padding(right);

      &:even {
        padding-right: 0;
      }
    }
  }
}

.gc_product-add-to-cart-confirmation {
  > .field-name-field-giftcard-display-image {
    .inline-block;
    vertical-align: middle;
    width: 35%;
    .padding(right, 1.5);

    .field-items {
      .clearfix;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  > .fields {
    .inline-block;
    width: 63%;
    vertical-align: middle;

    > .fields__field {
      &:first-child {
        .field__label,
        .field__value {
          padding-top: 0;
        }
      }

      &:last-child {
        .field__label,
        .field__value {
          padding-bottom: 0;
        }
      }

      > .field__label {
        width: 35%;
        float: left;
        clear: left;
        text-align: right;
        white-space: nowrap;

        .padding(right, 1.3);

        .padding(vertical, .45);

        color: @colour-secondary;
        font-weight: 500;
      }

      > .field__value {
        float: left;
        max-width: 65%;
        .padding(vertical, .45);
        border-left: 1px solid @colour-neutral-light;
        .padding(left);
      }
    }
  }
}

.field-name-field-giftcard-display-product {
  .select-or-other {
    > .form-item {
      + .form-item {
        width: 38%;
        left: 4%;
      }
    }
  }
}
