.box--gk-contact-gk-contact-form .box__inner {
  .padding(horizontal, 1.5);
}

.box--gc-product-gc-product-banner {
  .box__content {
    text-align: center;

    > h2 {
      .inline-block();
    }

    > .field-name-field-giftcard-display-image {
      .inline-block;
    }
  }
}

.ui-dialog {
  .ui-dialog-titlebar > span {
    white-space: normal;
  }

  .gc_product-add-to-cart-confirmation {
    text-align: center;

    > .field-name-field-giftcard-display-image {
      .field-item {
        max-width: 50%;
        float: none;
        .inline-block();
      }
    }

    .fields {
      .margin(top);

      > .fields__field {
        text-align: left;

        > .field__label {
          .inline-block();
          width: 40% !important;
          text-align: right;
        }

        > .field__value {
          .inline-block();
          width: 45% !important;
          text-align: left;
          margin-left: 5%;
        }
      }
    }
  }

  .ui-dialog-buttonset {
    > button {
      width: 100%;
    }
  }
}

.field-name-field-giftcard-display-product {
  .select-or-other {
    > .form-item {
      + .form-item {
        width: 80%;
        left: 10%;
        //margin-right: -31%;
      }
    }
  }
}

.view-commerce-cart-form {
  .form-actions {
    .form-submit {
      width: 100%;
      .margin(bottom, .5);
      margin-left: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.checkout-buttons {
  > input {
    width: 100%;
    margin-left: 0;

    &:last-child {
      .margin(top, .5);
    }
  }
}

#edit-commerce-shipping-notice {
  margin-right: 0;
}

#main table.stacked {
  tbody {
    tr {
      td {
        .padding(horizontal, .8);
        padding-top: 59px;

        text-align: center;

        &:before {
          width: 100% !important;
          height: 47px !important;

          .border(bottom);
          border-right: none;
        }
      }
    }
  }
}

// Style table elements specific to shopping basket.
#main .view-commerce-cart-form {
  table.stacked {
    > tbody {
      &:last-child > tr:last-child {
        margin-bottom: 0;
      }
      > tr {
        > td {
          padding-top: 59px;
          .padding(horizontal, .8);
        }
      }
    }
  }
}

// Style table elements specific to shopping basket.
.view-commerce-cart-form {
  table.stacked {
    > tbody {
      > tr {
        > .views-field-field-giftcard-display-image {
          .product__image {
            .inline-block();
          }
        }
      }
    }
  }
}
