/**
 * User/Header nav
 */
#header-top .container__inner {
  margin: 0;
}

.box--menu-block-gk-core-user-menu {
  .clearfix();
  .border(bottom);
  background: @colour-neutral-lightest;

  .nav {
    float: right;

    margin-bottom: 0;

    .padding(horizontal, .45);
    .padding(vertical, .25);
  }
}

.gc_product-add-to-cart-confirmation {
  > .field-name-field-giftcard-display-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  > .fields > .fields__field {
    .padding(vertical, 1/3);

    > .field__label {
      color: @colour-secondary;
      font-weight: 500;
    }
  }
}

.box--gc-product-gc-product-banner {
  .box__content {
    text-align: center;

    > h2 {
      .inline-block();
    }

    > .field-name-field-giftcard-display-image {
      .inline-block;
    }
  }
}

#navigation {
  .container__inner > .grid {
    padding: 0;
  }

  .box--menu-block-gk-core-main-menu {
    .nav {
      text-align: center;
      margin: 0;

      .nav__item {
        display: block;

        > a {
          display: block;
          .padding(vertical, .5);

          &:before {
            display: none;
          }

          position: relative;

          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;

            width: 100%;
            height: 1px;

            background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0) 95%, rgba(0,0,0,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.25)), color-stop(95%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,gift0,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 95%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 95%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 95%,rgba(0,0,0,0) 100%); /* IE10+ */
            background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0) 95%,rgba(0,0,0,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
          }
        }

        &:last-child > a:after {
          display: none;
        }
      }
    }
  }
}

ol.inline.commerce-checkout-progress {
  > li {
    float: none;
    width: 100%;

    margin-bottom: 5px;
    padding-left: 35px;
  }
}

// Banners
.banner-slideshow__prev {
  left: 4px;
}

.banner-slideshow__next {
  right: 4px;
}

.banner-slideshow__caption {
  padding-left: 40px;
  padding-right: 40px;
}

// Footer bottom
#footer-bottom {
  text-align: center;

  .nav {
    .inline-block();
    padding: 0;
  }
}


