//
// Base =======================================================================
//
body {
  -webkit-font-smoothing: antialiased;
  color: @base-font-colour;

  background-color: @colour-neutral-darker;
}

#page {
  // Ensure page elements outside of page do not cause scrollbars.
  overflow-x: hidden;
}

#content img {
  height: auto !important;
  max-width: 100%;
  width: auto !important;
}