button,
input[type=submit],
a:link.button,
a:visited.button,
.commerce-add-to-cart .form-radios .form-item__label--option,
.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back {
  .transition(all .3s);

  // Override Minima's box shadow;
  box-shadow: none;


  color: #fff;
  text-transform: uppercase;
  .font-size(13);

  background: @colour-secondary;
  .padding(horizontal, .8);
  .padding(vertical, .28);

  .border(all, 1, @colour-secondary-dark, 3px);

  &:hover {
    border-color: @colour-primary;
  }

  &:active {
    //.box-shadow(~"inset 2px 3px 2px rgba(0,0,0,.35)");
    // border-color: @colour-secondary-dark;
  }
}

.checkout-buttons .checkout-cancel,
.checkout-buttons .checkout-back {
  &:hover {
    background: @colour-secondary;
    color: #fff;
    text-decoration: none;
  }
}

.selecter {
  > .selecter-selected {
    position: relative;
    overflow: hidden;

    &:before {
      content: "\f107";
      display: block;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      speak: none;

      color: @colour-neutral-dark;
      text-shadow: 1px 1px 1px rgba(255,255,255,.5);

      background-color: @colour-neutral-lighter;

      .border(all, 1, @colour-neutral-light, 0 3px 3px 0);

      text-align: center;

      .font-size(20);

      line-height: 2.1;

      position: absolute;
      right: -1px;
      top: -1px;
      bottom: -1px;

      width: 35px;

      .transition(.2s all);
    }
  }

  .selecter-selected:hover:before,
  &.open .selecter-selected:before {
    background-color: @colour-secondary;
    .border-radius(0 3px 0 0);
  }
}
