fieldset {
  border: none;
  padding: 0;

  > legend {
    color: @colour-primary;
    font-weight: 500;
    text-transform: uppercase;
    .font-size(15);

    .margin(bottom);
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
.selecter .selecter-selected {
  .box-shadow(inset 0 2px 3px rgba(0, 0, 0, 0.15));

  .transition(~'all .15s linear');

  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
  border-color: rgba(170,170,170,1);
  .border-radius(3px);

  color: @base-font-colour;
  .font-size(16);

  width: 100%;

  &:focus {
    border-color: @colour-secondary;
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
.selecter .selecter-selected {
  // Using rems has caused some bugs so have reverted to pixels - a strange occurance where identical elements would
  // have a discrepency of one pixel, which was not registering with child elements (i.e. selecter)
  height: 45px;
  .padding(horizontal, 1/2);
  .padding(vertical, .42);
}

.form-item__label {
  font-weight: 500;
  .margin(bottom, 1/3);
  display: block;
}

.selecter {
  max-width: none;
  margin: 0;

  &.open > .selecter-selected {
    .border-radius(3px 3px 0 0);
  }

  > .selecter-selected {
    padding-right: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    .transition(border-radius 0s);
  }

  &.open > .selecter-selected {
    background-color: #fafafa;
    border-color: @colour-secondary;
  }
}

// Stop the original select element from being selectable from outside element area.
html.js .selecter-element {
  z-index: -1;
}
