h1, h2, h3, h4, h5, h6 {
  color: @colour-primary;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 500;
}

#page-title {
  text-align: center;
  .font-size(20);

  .padding(bottom);
  border-bottom: 1px solid @colour-neutral-light;
  .margin(bottom);
}

h2 {
  .font-size(17);
}

h3 {
  .font-size(15);
}