table {
  .border(all, 1, @colour-neutral-lighter, 2px);

  thead > tr:first-child > th:first-child {
    .border-radius(2px 0 0 0);
  }

  thead > tr:first-child > th:last-child {
    .border-radius(0 2px 0 0);
  }

  tbody > tr:last-child > td:last-child {
    .border-radius(0 0 2px 0);
  }

  tbody > tr:last-child > td:first-child {
    .border-radius(0 0 0 2px);
  }

  > thead {
    background: #fff;

    > tr > th {
      .border(all, 1, @colour-neutral-lighter);

      text-align: center;
      vertical-align: middle;

      .padding(horizontal, 1.3);
      .padding(vertical, .5);

      color: @colour-secondary;
      font-weight: 500;
    }
  }

  > tbody {
    > tr {
      > td,
      > th, {
        .border(all, 1, @colour-neutral-lighter);

        .padding(horizontal, 1.3);
        .padding(vertical, .5);

        position: relative;

        text-align: center;

        .form-item {
          margin-bottom: 0;
        }
      }

      > th {
        color: @colour-secondary;
        font-weight: 500;
      }
    }
  }
}

table.stacked,
table.stacked > tbody,
table.stacked tr,
table.stacked td,
table.stacked th {
  display: block !important;
}

table.stacked th {
  display: none !important;
}

#main table.stacked { // Make this important
  border: none;
  tbody {
    tr {
      .border(all);
      .margin(bottom);

      td {
        text-align: left;

        position: relative;

        min-height: 47px;

        border: none;
        .border(bottom);
        .padding(horizontal, .8);
        padding-left: 180px;

        &:last-child {
          border-bottom: none;
        }

        &:before {
          box-sizing: border-box;

          position: absolute;
          left: 0;
          top: 0;

          width: 160px;
          height: 100%;

          .border(right);

          .padding(vertical, .5);
          .padding(horizontal, .8);

          content: attr(data-th);

          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          background: #fff;
          color: @colour-secondary;
          font-weight: 500;
        }
      }
    }
  }
}
