// Border
.border(@side, @size: 1, @colour: @colour-neutral-light, @radius: 0, @alpha: 1, @style: solid) when (@radius > 0) {
  .border-radius(@radius);
}

.border(@side, @size: 1, @colour: @colour-neutral-light, @radius: 0, @alpha: 1, @style: solid) when (@side = top) {
  @red: red(@colour);
  @green: green(@colour);
  @blue: blue(@colour);
  border-top-style: @style;
  border-top-color: @colour;
  border-top-color: rgba(@red, @green, @blue, @alpha - 0.01); // Force RGBA so that browser uses anti-aliasing on borders...
  border-top-width: @size + 0px;
}

.border(@side, @size: 1, @colour: @colour-neutral-light, @radius: 0, @alpha: 1, @style: solid) when (@side = right) {
  @red: red(@colour);
  @green: green(@colour);
  @blue: blue(@colour);
  border-right-style: @style;
  border-right-color: @colour;
  border-right-color: rgba(@red, @green, @blue, @alpha - 0.01); // Force RGBA so that browser uses anti-aliasing on borders...
  border-right-width: @size + 0px;
}

.border(@side, @size: 1, @colour: @colour-neutral-light, @radius: 0, @alpha: 1, @style: solid) when (@side = bottom) {
  @red: red(@colour);
  @green: green(@colour);
  @blue: blue(@colour);
  border-bottom-style: @style;
  border-bottom-color: @colour;
  border-bottom-color: rgba(@red, @green, @blue, @alpha - 0.01); // Force RGBA so that browser uses anti-aliasing on borders...
  border-bottom-width: @size + 0px;
}

.border(@side, @size: 1, @colour: @colour-neutral-light, @radius: 0, @alpha: 1, @style: solid) when (@side = left) {
  @red: red(@colour);
  @green: green(@colour);
  @blue: blue(@colour);
  border-left-style: @style;
  border-left-color: @colour;
  border-left-color: rgba(@red, @green, @blue, @alpha - 0.01); // Force RGBA so that browser uses anti-aliasing on borders...
  border-left-width: @size + 0px;
}

.border(@side, @size: 1, @colour: @colour-neutral-light, @radius: 0, @alpha: 1, @style: solid) when (@side = horizontal) {
  .border(left, @size, @colour, 0, @alpha, @style);
  .border(right, @size, @colour, 0, @alpha, @style);
}

.border(@side, @size: 1, @colour: @colour-neutral-light, @radius: 0, @alpha: 1, @style: solid) when (@side = vertical) {
  .border(top, @size, @colour, 0, @alpha, @style);
  .border(bottom, @size, @colour, 0, @alpha, @style);
}

.border(@side, @size: 1, @colour: @colour-neutral-light, @radius: 0, @alpha: 1, @style: solid) when (@side = all) {
  .border(horizontal, @size, @colour, 0, @alpha, @style);
  .border(vertical, @size, @colour, 0, @alpha, @style);
}
