.image-styles() {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;

  img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 84%;
    height: 40px;
    bottom: 0;
    left: 8%;
    border-radius: 4%;
    .box-shadow(0px 3px 3px rgba(0,0,0,.15));
    z-index: -1;
  }
}