/* Hide stuff */

#block-order-details,
#block-delivery-details,
#block-billing-details {
  height: 0;
  visibility: hidden;
}

/* Base */

* {
  box-sizing: border-box;
}

body {
  letter-spacing: .1em;
  -webkit-font-smoothing: antialiased;
  color: #656565;
  line-height: 1.4934162445277;
  font-size: 16px;
  background-color: #161817;
}

h1, h2, h3, h4, h5, h6 {
  color: #005030;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  /* font-weight: 600 */
}

.belhaven h1, .belhaven h2, .belhaven h3, .belhaven h4, .belhaven h5, .belhaven h6 {
  color: #193675;
}

.lochfyne h1, .lochfyne h2, .lochfyne h3, .lochfyne h4, .lochfyne h5, .lochfyne h6 {
  color: #1c2a6a;
}

.hungryhorse h1, .hungryhorse h2, .hungryhorse h3, .hungryhorse h4, .hungryhorse h5, .hungryhorse h6 {
  color: #9c4063;
}

#page-title {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.4270179416152;
  padding-bottom: 1.4934162445277rem;
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 1.4934162445277rem;
}

h2 {
  font-size: 16px;
  line-height: 1.4723556524851;
}

/* Forms */

fieldset {
  border: 0;
  padding: 0;
  background: none;
}

.form-input {
  padding: 0;
  max-width: 450px;
  float: none;
  display: block;
  padding-bottom: 14px;
}

.field_securitycode {
  width: 200px;
}

a#securitycodepopup {
  margin-top: 12px;
  text-decoration: underline;
  color: #333;
  font-size: 11px;
}

li.message-changepaymentmethod {
  background: none;
  border: none;
  padding: 0;
}

li.message-changepaymentmethod a {
  color: #a89968;
}

li.message-changepaymentmethod a:after {
  content: ' >>';
}

.form-input input, .form-input select {
  padding-left: 0.78125rem;
  padding-right: 0.78125rem;
  padding-top: 0.62723482270163rem;
  padding-bottom: 0.62723482270163rem;
  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.15);
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.15);
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -ms-transition: all .15s linear;
  -o-transition: all .15s linear;
  transition: all .15s linear;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #656565;
  font-size: 1rem;
  line-height: 1.4934162445277;
  width: 70%;
  height: 40px;
}

.form-input select {
  width: 30%;
  float: left;
}

input.form-submit {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  box-shadow: none;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.5883645080614;
  background: #a89968;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.41815654846776rem;
  padding-bottom: 0.41815654846776rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-left-style: solid;
  border-left-color: rgba(152,136,82,0.99);
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(152,136,82,0.99);
  border-right-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(152,136,82,0.99);
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(152,136,82,0.99);
  border-bottom-width: 1px;
}

.details input.form-submit {
  bottom: 43px;
}

/* Layout */

#head-internal {
}

#head {
  background: #fff;
  border-bottom: 1px solid #d0cfcf;
  height: 131px;
}

.belhaven #head {
  height: 135px;
  background: #193675;
}

.lochfyne #head {
  height: 135px;
}

.hungryhorse #head {
  height: 135px;
  background: #f2e9d7;
}

#st_logo {
  margin: 0 auto 0 auto;
}

.gk #st_logo {
  margin: 24px auto 24px auto;
  height: 76px;
  width: 147px;
  background: url(/merchantfiles/513/test_gkgift51359/gk_logo.png);
}

.belhaven #st_logo {
  margin: 0 auto 0px auto;
  height: 130px;
  width: 195px;
  background: url(/merchantfiles/513/gkgift51360/belhaven_logo.png);
}

.lochfyne #st_logo {
  margin: 0 auto 0px auto;
  height: 130px;
  width: 130px;
  background: url(/merchantfiles/513/gkgift51360/lochfyne_logo.png);
}

.hungryhorse #st_logo {
  margin: 0 auto 0px auto;
  height: 130px;
  width: 130px;
  background: url(/merchantfiles/513/gkgift51360/hungryhorse_logo.png);
}

#content {
  padding-bottom: 24px;
  background: url(/merchantfiles/513/test_gkgift51359/gk_body_bg.png);
  min-height: 0;
}

#footer {
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.details #block-message, .details #processingpayment, .details #block-payment-details, .details #requirednotice {
  margin: 0 auto;
  float: none;
  width: 70%;
}

/* Content */

.details #requirednotice span {
  font-style: normal;
}

ol.inline.commerce-checkout-progress {
  padding: 0;
  margin-right: 25px;
  height: 35px;
  margin-bottom: 24px;
  margin-top: 0;
}

ol.inline.commerce-checkout-progress > li {
  float: left;
  list-style: inside decimal;
  width: 25%;
  height: 35px;
  padding-top: 0.56749817292053rem;
  padding-bottom: 0.56749817292053rem;
  color: #eeeeee;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.6368693681042;
  position: relative;
  padding-left: 65px;
  background: #b9bb93;
}

.belhaven ol.inline.commerce-checkout-progress > li {
  background: #bcccdb;
  display: block;
}

.lochfyne ol.inline.commerce-checkout-progress > li {
  background: #bcccdb;
}

.hungryhorse ol.inline.commerce-checkout-progress > li {
  background: #d2aaba;
}

ol.inline.commerce-checkout-progress > li > a {
  color: #eeeeee;
}

ol.inline.commerce-checkout-progress > li > a:hover {
  text-decoration: underline;
}

ol.inline.commerce-checkout-progress > li:after {
  content: " ";
  display: block;
  width: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: url(/merchantfiles/513/test_gkgift51359/gk_sprite.png) no-repeat -135px -502px;
}

ol.inline.commerce-checkout-progress > li:first-child {
  padding-left: 40px;
}

ol.inline.commerce-checkout-progress > li:first-child:after {
  display: none;
}

ol.inline.commerce-checkout-progress > li:last-child:before {
  content: " ";
  display: block;
  width: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -25px;
  overflow: hidden;
  background: url(/merchantfiles/513/test_gkgift51359/gk_sprite.png) no-repeat -295px -501px;
}

.belhaven ol.inline.commerce-checkout-progress > li:after,
.belhaven ol.inline.commerce-checkout-progress > li:last-child:before {
  background-image: url(/merchantfiles/513/gkgift51360/belhaven_sprite.png);
}

.lochfyne ol.inline.commerce-checkout-progress > li:after,
.lochfyne ol.inline.commerce-checkout-progress > li:last-child:before {
  background-image: url(/merchantfiles/513/gkgift51360/belhaven_sprite.png);
}

.hungryhorse ol.inline.commerce-checkout-progress > li:after,
.hungryhorse ol.inline.commerce-checkout-progress > li:last-child:before {
  background-image: url(/merchantfiles/513/gkgift51360/hungryhorse_sprite.png);
}

ol.inline.commerce-checkout-progress > li.last.active:before {
  background-position: -215px -501px;
}

ol.inline.commerce-checkout-progress > li.next:after, ol.inline.commerce-checkout-progress > li.active:after, ol.inline.commerce-checkout-progress > li.previous:after, ol.inline.commerce-checkout-progress > li.previous:after, ol.inline.commerce-checkout-progress > li.visited:after, ol.inline.commerce-checkout-progress > li.last:after {
  background-position: -55px -502px;
}

ol.inline.commerce-checkout-progress > li.active, ol.inline.commerce-checkout-progress > li.previous, ol.inline.commerce-checkout-progress > li.visited {
  background: #a2a569;
  color: #fff;
}

.belhaven ol.inline.commerce-checkout-progress > li.active, .belhaven ol.inline.commerce-checkout-progress > li.previous,
.belhaven ol.inline.commerce-checkout-progress > li.visited {
  background: #91afd1;
}

.lochfyne ol.inline.commerce-checkout-progress > li.active, .lochfyne ol.inline.commerce-checkout-progress > li.previous,
.lochfyne ol.inline.commerce-checkout-progress > li.visited {
  background: #91afd1;
}

.hungryhorse ol.inline.commerce-checkout-progress > li.active, .hungryhorse ol.inline.commerce-checkout-progress > li.previous,
.hungryhorse ol.inline.commerce-checkout-progress > li.visited {
  background: #9c4063;
}

#block-choice-order-details {
  border-left-style: solid;
  border-left-color: rgba(170,170,170,0.99);
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(170,170,170,0.99);
  border-right-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(170,170,170,0.99);
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(170,170,170,0.99);
  border-bottom-width: 1px;
  background: #fff;
  padding-bottom: 24px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}

#payment-logo {
  right: 8px;
}

#block-choice-order-details h2 {
  text-align: center;
  background: #fff;
  border-bottom-style: solid;
  border-bottom-color: rgba(170,170,170,0.99);
  border-bottom-width: 1px;
  margin: 0;
  padding-top: 0.74670812226385rem;
  padding-bottom: 0.74670812226385rem;
}

.orderdetailitems {
  background: url(/merchantfiles/513/test_gkgift51359/gk_body_bg.png);
  padding-top: 12px;
  padding-bottom: 0;
}

.orderdetailitems p,
#block-choice-order-details .orderdetailitems p {
  margin: 0;
  padding: 6px 12px;
}

#field_orderreference {
  border-bottom-style: solid;
  border-bottom-color: rgba(170,170,170,0.99);
  border-width: 1px;
  padding-bottom: 12px;
}

#paymentlogos ul {
  padding: 0;
}

#paymentlogos ul li {
  margin-right: 48px;
  margin-bottom: 24px;
  border-style: solid;
  border-color: rgba(170,170,170,0.99);
  border-width: 1px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 5px;
  background: #fff;
  height: 78px;
  width: 90px;
}

#block-card-choice p {
  margin-left: 0;
  font-family: "Arial", arial, sans-serif;
  font-style: normal;
  padding-top: 0;
}

.fieldlabel {
  margin-bottom: 5px;
}

#block-delivery-details,
#block-order-details,
#block-billing-details {
  display: none;
}

@media only screen and (max-width: 1023px) {
    #head-internal,
    #content-internal,
    #footer-internal {
        width: auto;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    ol.inline.commerce-checkout-progress {
        height: 100%;
        margin-right: 0;
    }

    ol.inline.commerce-checkout-progress:before {
        display: none;
    }

    ol.inline.commerce-checkout-progress > li {
        float: none;
        width: 100%;
        margin-bottom: 5px;
        padding-left: 35px;
    }

    ol.inline.commerce-checkout-progress > li:before,
    ol.inline.commerce-checkout-progress > li:after {
        display: none !important;
    }

    #block-message {
      width: 100%;
    }
}

@media only screen and (max-width: 720px) {
    #block-card-choice,
    #block-choice-order-details {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }

    .details #block-message,
    .details #block-payment-details,
    .details #requirednotice {
      width: 100%;
    }

    #payment-logo {
      top: 10px;
      right: 0;
    }

    #block-payment-details input {
      width: 100%;
    }

    #block-payment-details .field_pan  {
      padding-right: 85px;
    }

    #block-payment-details select {
      width: 47%;
      margin: 0;
    }

    #block-payment-details #expirymonth {
      margin-right: 6%;
    }

    input.form-submit {
      position: static;
    }

    .field_securitycode {
      width: 100%;
    }
}






