ol.inline.commerce-checkout-progress {
  > li {
    background: @colour-primary-lighter;

    color: @colour-neutral-lightest;
    > a {
      color: @colour-neutral-lightest;
    }

    &:after {
      background: url(../images/sprite.png) no-repeat -135px -502px;
    }

    &:last-child:before {
      background: url(../images/sprite.png) no-repeat -295px -501px;
    }

    &.active,
    &.previous,
    &.visited {
      background: @colour-primary-light;
      color: #fff;
    }
  }
}
