.field-name-field-giftcard-display-product {
  .form-radios > .form-item {
    > .form-item__field {
      > .form-radio {
        &:checked + label {
          background: @colour-primary-dark;
          border-color: @colour-primary-dark;
        }
      }

      > label {
        background: @colour-primary;
        border-color: @colour-primary;

        font-family: @headings-font-family;
        font-weight: 700;

        &:hover {
          border-color: @colour-primary;
        }

        font-size: 30px;
      }
    }
  }
}
