/**
 * User/Header nav
 */


.box--menu-block-gk-core-user-menu {
  z-index: 4;

  .nav {
    background: #fff;

    .nav__item > a {
      font-family: @headings-font-family;
      font-weight: 500;

      .font-size(12);
    }
  }
}

#navigation {
  .box--menu-block-gk-core-main-menu {
    .nav {
      .nav__item {
        &.is-active > a {
          color: @colour-primary-light;
        }

        > a {
          font-weight: 500;
          font-family: @headings-font-family;
          .font-size(12);

          &:hover {
            color: @colour-primary-light;
          }
        }
      }
    }
  }
}

.box--menu-block-gk-core-footer-menu {
  .nav {
    .nav__item {
      > a {
        .font-size(13);
      }
    }
  }
}
