.box--menu-block-gk-core-user-menu {
  background: #fff;
}

#header-top,
#header {
  background: @colour-primary-lightest;
}


#header {
  .grid {
    padding: 0;
  }

  .branding__logo {
    .padding(bottom, .25);

    > img {
      vertical-align: bottom;
    }
  }
}

#bottom {
  background: url(../images/bottom_bg.jpg);
}
