ol.inline.commerce-checkout-progress {
  > li {
    background: @colour-primary-lighter;
    color: @colour-neutral-lightest;

    .font-size(13);
    padding-top: 7px;

    > a {
      color: @colour-neutral-lightest;
      .font-size(13);
    }

    &:after {
      background: url(../images/sprite.png) no-repeat -135px -502px;
    }

    &:last-child:before {
      background: url(../images/sprite.png) no-repeat -295px -501px;
    }

    &.active,
    &.previous,
    &.visited {
      background: @colour-primary-light;
      color: #fff;
    }
  }
}

.gc-checkout-summary {
  .order-total,
  .line_items .line_item .fields .fields__field,
  .shipping-address {
    .field__value {
      max-width: 60%;
    }
  }
}
