.field-name-field-giftcard-display-product {
  .form-radios > .form-item {
    > .form-item__field {
      > label {
        background: @colour-primary-light;
        border-color: @colour-primary-light;

        font-family: @headings-font-family;

        &:hover {
          border-color: @colour-primary;
        }
      }
    }
  }
}
