.box--menu-block-gk-core-user-menu {
  background: #fff;
}

#header {
  .grid {
    padding: 0;
  }

  .branding {
    img {
      vertical-align: bottom;
    }
  }
}

#bottom {
  background: url(../images/bottom_bg.jpg);
}
